.thisDayWeather {
    width: 100%;
    box-shadow: 10px 10px 10px 10px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
}

.top-block {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px;
}

.currentTemp, .time {
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
}
.time {
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;;
}
.currentCondition {
    font-size: 20px;
    padding-top: 20px;
}

.bottom-block {
    font-size: 15px;
    color: gray;
    padding: 10px 20px;
}
.currentPlace {
    font-size: 14px;
}
.weather_icon {
    height: 50px;
    width: 50px;
}
.currentIcon img {
    margin: 0 auto;
    align-items: center;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-topBlock {
    min-width: 300px;
    text-align: center;
}

.currentIcon {
    justify-content: center;
    align-items: center;
}

