.upcomingWeather {
    width: 100%;
    box-shadow: 10px 10px 10px 10px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.cardWrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.currentTemp {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.currentDay {
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
.currentDay span, .currentTemp span {
    text-decoration: underline;
}

.currentCondition {
    font-size: 20px;
    padding-top: 20px;
}

.bottom-block {
    font-size: 25px;
    color: gray;
    padding: 10px 20px;
}
.currentPlace {
    font-size: 14px;
}
.weather_icon {
    height: 50px;
    width: 50px;
}

.cards_wrapper {
    justify-content: space-around;
    font-size: 10px;
    min-width: 300px;
    text-align: center;
}

